body, html{
  height:175%;
  margin:0;
  font-size:16px;
  font-family:"Georgia","Cardo";
  font-weight: 400;
  line-height: 1.8em;
  color:#000000;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10, .pimg11, .pimg12, .pimg13, .pimg14, .pimg15, .pimg16, .pimg17, .pimg17, .pim18, .pimg19, .pimg20, .pimg21, .pimg22, .pimg23, .pimg24 .pimg25, .pimg26, .pimg27, .pimg28, .pimg29, .pimg30, .pimg31, .pimg32, .pimg33, .pimg34, .pimg35, .pimg36, .pimg37{
  position:relative;
  opacity:0.95;
  background-position: left center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/image2.jpg');
    min-height:100%;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:100%;
}
.pimg4{
  background-image:url('../img/image4.jpg');
  min-height:100%;
}
.pimg5{
  background-image:url('../img/image5.jpg');
  min-height:100%;
}
.pimg6{
  background-image:url('../img/image6.jpg');
  min-height:100%;
}
.pimg7{
  background-image:url('../img/image7.jpg');
  min-height:100%;
}
.pimg8{
  background-image:url('../img/image8.jpg');
  min-height:100%;
}
.pimg9{
  background-image:url('../img/image9.jpg');
  min-height:100%;
}
.pimg10{
  background-image:url('../img/image10.jpg');
  min-height:100%;
}
}
.pimg11{
  background-image:url('../img/image11.jpg');
  min-height:100%;
}
}
.pimg12{
  background-image:url('../img/image12.jpg');
  min-height:100%;
}
}
.pimg13{
  background-image:url('../img/image13.jpg');
  min-height:100%;
}
}
.pimg14{
  background-image:url('../img/image14.jpg');
  min-height:100%;
}
}
.pimg15{
  background-image:url('../img/image15.jpg');
  min-height:100%;
}
}
.pimg16{
  background-image:url('../img/image16.jpg');
  min-height:100%;
}
}
.pimg17{
  background-image:url('../img/image17.jpg');
  min-height:100%;
}
}
.pimg18{
  background-image:url('../img/image18.jpg');
  min-height:100%;
}
}
.pimg19{
  background-image:url('../img/image19.jpg');
  min-height:100%;
}
}
.pimg20{
  background-image:url('../img/image20.jpg');
  min-height:100%;
}
}
.pimg21{
  background-image:url('../img/image21.jpg');
  min-height:100%;
}
}
.pimg22{
  background-image:url('../img/image22.jpg');
  min-height:100%;
}
}
.pimg23{
  background-image:url('../img/image23.jpg');
  min-height:100%;
}
}
.pimg24{
  background-image:url('../img/image24.jpg');
  min-height:100%;
}
}
.pimg25{
  background-image:url('../img/image25.jpg');
  min-height:100%;
}
}
.pimg26{
  background-image:url('../img/image26.jpg');
  min-height:100%;
}
}
.pimg27{
  background-image:url('../img/image27.jpg');
  min-height:100%;
}
}
.pimg28{
  background-image:url('../img/image28.jpg');
  min-height:100%;
}
}
.pimg29{
  background-image:url('../img/image29.jpg');
  min-height:100%;
}
}
.pimg30{
  background-image:url('../img/image30.jpg');
  min-height:100%;
}
}
.pimg31{
  background-image:url('../img/image31.jpg');
  min-height:100%;
}
}
.pimg32{
  background-image:url('../img/image32.jpg');
  min-height:100%;
}
}
.pimg33{
  background-image:url('../img/image33.jpg');
  min-height:100%;
}
}
.pimg34{
  background-image:url('../img/image34.jpg');
  min-height:100%;
}
}
.pimg35{
  background-image:url('../img/image35.jpg');
  min-height:100%;
}
}
.pimg36{
  background-image:url('../img/image36.jpg');
  min-height:100%;
}
}
.pimg37{
  background-image:url('../img/image37.jpg');
  min-height:100%;
}

.section{
  text-align:left;
  padding: 50px 100px;
}

.section-dark{
  background-color:#000000;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:25%;
  text-align:center;
  color:#fff;
  font-size:25px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#234;
  color:#fff;
  padding:20px;
}
